<div class="d-flex position-absolute w-100 h-100 overlay align-items-center justify-content-center deleter">
    <div class="editor rounded-3 px-3 border border-3 py-2 d-flex flex-column">
        <div class="closeContent d-flex border-bottom border-info mb-2">
            <h3 class="text-center text-light">ボタンの登録</h3>
            <div
                class="d-flex align-items-center justify-content-center fa-times-wrapper ms-auto p-1 rounded-circle deleter">
                <i class="fas fa-times fa-2x " style="color: #FFFFFF;"></i>
            </div>
        </div>
        <div class="mainContent pb-3">
            <div class="name pb-3">
                <div class="fs-4 text-light">名前</div>
                <input class="form-control button-name" placeholder="例:オン/オフ">
            </div>
            <div class="signal">
                <div class="fs-4 text-light">信号</div>
                <div class="d-flex">
                    <button type="button" class="confirm-btn btn btn-warning record">記録</button>
                    <div class="d-flex align-items-center ps-3 not-register text-light">
                        <i class="fas fa-times fa-lg" style="color: #FF0000;"></i>
                        未登録
                    </div>
                    <div class="d-none align-items-center ps-3 registered text-light">
                        <i class="fas fa-check fa-lg" style="color: #30f87d;"></i>
                        登録済み!
                    </div>
                </div>
            </div>
        </div>
        <div class="comfirmContent d-flex justify-content-evenly mt-auto">
            <button type="button" class="confirm-btn btn btn-success send" disabled>登録</button>
            <button type="button" class="confirm-btn btn btn-danger deleter">キャンセル</button>
        </div>

    </div>
</div>